.underline {

    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#apps {
    width: 100%;
    height: 800px;
background-color: skyblue;
    
}
body{
  text-align: center;
    
    
}

img{
   transition:transform .4s; 
    
}
 
img:hover{
transform: scale(0.9);
}

#mycarousel{
background-color: mediumpurple;  

}
#mycarasousel img{
height: 300px
    margin-top: 35px;       
}
.carasousel-inner p{
  margin-bottom:15px;
    margin-top:15px;
    color: white;
    font-size:20px;
    
    
}
    

}